<center><a target="_blank" href="https://academy.constructor.org/"><img src=https://lh3.googleusercontent.com/d/1EmH3Jks5CpJy0zK3JbkvJZkeqWtVcxhB width="500" style="background:none; border:none; box-shadow:none;" /></a> </center>
<hr />

# <h1 align="center"> DST Day 1 Exercises Part 3: Python - Intermediate </h1>

<hr />
<center>Constructor Academy, 2025</center>


<div style="background:#EEEDF5;border-top:0.1cm solid #EF475B;border-bottom:0.1cm solid #EF475B;">
    <div style="margin-left: 0.5cm;margin-top: 0.5cm;margin-bottom: 0.5cm;color:#303030">
        <p><strong>Goal:</strong> Train your coding skills in Python!</p>
        <strong> Outline:</strong>
        <a id='Q0' name="Q0"></a>
        <ul>
            <li> <a style="color:#303030" href='#Q1'>3.1. Counting DNA Nucleotides</a> </li>
            <li> <a style="color:#303030" href='#Q2'>3.2. Cat and Mouse</a></li>
            <li> <a style="color:#303030" href='#Q3'>3.3. Number to text</a></li>
            <li> <a style="color:#303030" href='#Q4'>3.4. Insane dictionary</a></li>
            <li> <a style="color:#303030" href='#Q5'>3.5. - Split the Bill</a></li>
        </ul>
        <strong>Topics Trained:</strong> list, dict, set, tuples
    </div>
</div>

<nav style="text-align:right"><strong>
        <a style="color:#00BAE5" href="https://constructor.app/learn/courses/f45190af-1e40-4fb3-b0f4-b062878d55a9/view/content/5ff0f127-9f6c-481d-91fb-27af0a765669" title="momentum"> Module 1, The Data Science Toolkit </a>|
        <a style="color:#00BAE5" href="https://constructor.app/learn/courses/f45190af-1e40-4fb3-b0f4-b062878d55a9/view/content/5ff0f127-9f6c-481d-91fb-27af0a765669/b5c79da5-6bce-4ad0-b750-630d45769526" title="momentum">Day 1, Python Fundamentals </a>|
        <a style="color:#00BAE5" href="https://constructor.app/learn/courses/f45190af-1e40-4fb3-b0f4-b062878d55a9/view/content/5ff0f127-9f6c-481d-91fb-27af0a765669/b5c79da5-6bce-4ad0-b750-630d45769526/87094432-13f1-4d0f-8d9c-ba0ae2706e67/d4e813f5-af1e-40f1-a4c6-5b8db897aac7"> Execise Part 3, Python Intermediate</a>
</strong></nav>

<a id='Q1' name="Q1"></a>
## [Exercise 3.1. Counting DNA Nucleotides](#Q0)

In [1]:
"""
Counting DNA Nucleotides
"""

# Initialize DNA string with length 1000

import numpy as np

bases = ('A', 'C', 'G', 'T')


def dna_string_generator(length):
    s = [''.join(np.random.choice(bases)) for _ in range(length)]
    return ''.join(s)


# Return four integers counting the number of times each symbol occurs in the string

def nucleotid_counter(s):
    return "A: {} C: {} G: {} T {}".format(s.count('A'), s.count('C'), s.count('G'), s.count('T'))


s = dna_string_generator(1000)
print(nucleotid_counter(s))

"""
Transcribing DNA into RNA
"""

import re


def rna_transcriber(t):
    return re.sub("T", "U", t)


t = dna_string_generator(1000)
print(rna_transcriber(t))

A: 277 C: 253 G: 241 T 229
GCCGCAACGUGGCUAGCAGGCCGUGUCCACUUUCAGCCGGUUAACUUGGGCUAGAGGUGUGUCCCCUCAUAUAUAGUCUUCACCUCAAGCUGGCCAAUCAAUACGGCGAUGAAAAUCUGUGGACGAAAGUCCAAGUAUGGAAGUAUAAACGUAGGGUAACCGGAUGCAACAGGUAAGCCGCUGUCUUGGGAAACGGAUUUGGACGCGCUUCACAUUUAGACGAAACUCUGCUGGCAGCGAUAUCGUAACGUAUCGAACAUAUGGCACUGAACGCUCGCCUUGCAUGGGCUUGGCGGUCGGGAAUCGCGACAUACCGUGUUCUUCGCAGAGUAUCUUAUUACGUAGACAUAAAUCUCCUUCACCAGGACUGAUCACCAGACCAGCACACGCAACCCACCCAUUCAGAAGGCCGACUCGAUGUUCGGUGCCACUAGGAUUAUACAAAUGAGCUGCGGGAAGUCGCUCGGAUCGGAGCCUUAACUAUGCAGCCUGGGUACAUUCCGGUAGGACCUUACUAAGUAUAUAAGCGGUUCAAAUUGGCAUAAUUGUUGACAGACUGUUCACGGCUCAGAACGUAACACACACUAUUUAUAUUAUGGUUCUCCAUAUGGGCGACUAGUACACUUACUGGCGGCAUUUCGGAACUGUAAUGUUUAGCUAUUCGGUCGACACGUAUUCUUCCGCUUACGGCAGGUGAUUUAUAUAAACCCGAUAUGAGCCACGGCACCUGCGUCUUGCCCUUUCGUACUCGAAUCUCGCACCAGAUAGGGAACGAAGCUUUCCGGAAAAUCAUAGCAAUUUCCUAUGGGUCCUAGGUUUCACAAGGUCGACCUCGGGUAUCAACCAACUACAGUCAGAAAGCUGGAUAGCCCUCACCCACCGGCGAAGUUAUUUCAUAGUGGUACAGAGUGAUCCUGUUACUCGCGCGAAGUGCAUUCUUGGACGGUAGCCGCUUUAAUUGGACAGAGCUGAUUGACAAGAGGAAGCUUCGAUAAUCGAA

![alt text](https://media.giphy.com/media/10qh1kNK4xJl28/giphy.gif)

<a id='Q2' name="Q2"></a>
## [Exercise 3.2. Cat and Mouse](#Q0)

You will be given a string featuring a cat ‘C’ and a mouse ‘m’. The rest of the string will be made up of ‘.’.

You need to find out if the cat can catch the mouse from it’s current position. The cat can jump three characters.

In [2]:
def is_caught(argument):
    cat_and_mouse = list(argument)
    
    # index() method finds the given element in a list and returns its position.
    c = cat_and_mouse.index('C')
    m = cat_and_mouse.index('m')
    
    return True if m - c <= 3 else False

In [3]:
print(is_caught('C.....m'))   # False
print(is_caught('C..m'))      # True
print(is_caught('..C..m'))    # True
print(is_caught('...C...m'))  # False
print(is_caught('C.m'))       # True

False
True
True
False
True

<a id='Q3' name="Q3"></a>
## [Exercise 3.3. Number to text](#Q0)

Create a function that based on a number between 0-99 returns it’s written value as string. Bonus points if your function supports even higher numbers!

In [4]:
def write_number(num):
    digits = ['', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']
    tens = ['', '', 'twenty', 'thirty', 'fourty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety']

    lower_20 = digits + ['eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen',
                         'nineteen']

    if num == 0:
        # handle 0 differently
        return 'zero'
    
    elif num >= 0 and num < 20:
        # handle 1..19
        return lower_20[num]
    
    elif num < 100:
        # compose the rest
        upper = tens[num // 10]  # get upper digit
        lower = digits[num % 10]  # get lower digit (remainder of 10)

        if lower:
            return upper + "-" + lower
        else:
            return upper

    else:
        return "Cannot convert, number must be between 0 and 99"

In [5]:
print(write_number(1))
print(write_number(5))
print(write_number(11))
print(write_number(19))
print(write_number(20))
print(write_number(21))
print(write_number(33))
print(write_number(40))
print(write_number(99))

one
five
eleven
nineteen
twenty
twenty-one
thirty-three
fourty
ninety-nine

<a id='Q4' name="Q4"></a>
## [Exercise 3.4. Insane dictionary](#Q0)

Write a function that generates a dictionary where the keys are random numbers between 1 and 1000 and the values are the square of the keys. 

The function takes one parameter between 10 and 100 as an input and the output dictionary should have as many keys as this input number.

In [6]:
def nt_dictionary(n):
    import random
    assert (n > 9), "Choose a number between 10 and 100"
    assert (n < 101), "Choose a number between 10 and 100"
    output = {}
    for i in range(n):
        while True:
            rn = random.randint(1, 1000)
            if rn in output.keys():
                continue
            break
        output[rn] = rn * rn
    return output

In [7]:
print(nt_dictionary(20))

{138: 19044, 203: 41209, 14: 196, 533: 284089, 961: 923521, 478: 228484, 218: 47524, 146: 21316, 974: 948676, 587: 344569, 400: 160000, 161: 25921, 205: 42025, 345: 119025, 31: 961, 952: 906304, 192: 36864, 770: 592900, 704: 495616, 410: 168100}

In [8]:
print('Length', len(nt_dictionary(20)))

Length 20

<a id='Q4' name="Q4"></a>
## [Exercise 3.5. Split the Bill](#Q0)

Write a function to balance who has overpaid and should be compensated or who has paid less.

The function should take one parameter: a dictionary which represents the members of the group and the amount spent by each.

The function should return an object with the same names, showing how much money the members should pay or receive.

Negative number means they should receive money.

In [9]:
#sample output

def split_the_bill(obj):
    
    output = {}
    
    average = sum(obj.values()) / len(obj)
    
    for key, value in obj.items():
        output[key] = round(average - value)
    
    return output


group = {
    'Amy': 20,
    'Bill': 15,
    'Chris': 10
}

In [10]:
print(split_the_bill(group))

{'Amy': -5, 'Bill': 0, 'Chris': 5}

<div style="border-top:0.1cm solid #EF475B"></div>
    <strong><a href='#Q0'><div style="text-align: right"> <h3>End of this Notebook.</h3></div></a></strong>