<center><a target="_blank" href="https://academy.constructor.org/"><img src=https://lh3.googleusercontent.com/d/1EmH3Jks5CpJy0zK3JbkvJZkeqWtVcxhB width="800" style="background:none; border:none; box-shadow:none;" /></a> </center>
<hr />

# <h1 align="center"> Day-3-Inductive-Statistics. Part 2 </h1> </center>

<p style="margin-bottom:1cm;"></p>

_____

<center>Constructor Academy, 2024</center>


# In-class Tutorial + Exercise (30 mins)
## Part 2. Hypothesis testing. Titanic and Plant Growth
### A brief introduction

In this tutorial you will get familiar with elements of Inductive Statistics. Some examples on the most common statistical tests.

The exercises are annotated as follows:

### Exercise

text of the task

```python
# your code here
```

## Hypothesis testing

**For all the problems below:**

- Make sure you understand the data.
- Run the appropriate type of hypothesis test
- Interpret the result

## Exercise 1
Use the titanic.csv dataset to answer the following questions:

- Are passenger gender and cabin class related?
- Does the age of passengers vary across cabin class?

In [ ]:
# reading data from csv
import pandas as pd
data_path = 'https://drive.google.com/uc?export=download&id=1DBDms9NRGNSx-tZDhmti35Wf9CbmdlVo'
df_titanic = pd.read_csv(data_path)
df_titanic

,Unnamed: 0,Name,PClass,Age,Sex,Survived,SexCode
0,1,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
1,2,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
2,3,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
3,4,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
4,5,"Allison, Master Hudson Trevor",1st,0.92,male,1,0
...,...,...,...,...,...,...,...
1308,1309,"Zakarian, Mr Artun",3rd,27.00,male,0,0
1309,1310,"Zakarian, Mr Maprieder",3rd,26.00,male,0,0
1310,1311,"Zenni, Mr Philip",3rd,22.00,male,0,0
1311,1312,"Lievens, Mr Rene",3rd,24.00,male,0,0
1312,1313,"Zimmerman, Leo",3rd,29.00,male,0,0

In [ ]:
# your code here

### Titanic PT 1: Are passenger gender and cabin class related?

In [ ]:
# your code here

### Titanic PT 2: Does the age of passengers vary across cabin class?

In [ ]:
# your code here

# Exercise 2

Use the plant_growth.csv to answer the following questions:

- Did the treatments have an effect?
- Which treatment(s) are better than which other treatment(s)?

## Plant Growth Dataset

### Plant Growth PT 1: Did the treatments have an effect?

In [ ]:
# reading data from csv
import pandas as pd
data_path = 'https://drive.google.com/uc?export=download&id=12nwTqs_mUE-7rLSNpDfIYpLnLMqSTV-i'
df_plant = pd.read_csv(data_path)
df_plant

    Unnamed: 0  weight group
0            1    4.17  ctrl
1            2    5.58  ctrl
2            3    5.18  ctrl
3            4    6.11  ctrl
4            5    4.50  ctrl
5            6    4.61  ctrl
6            7    5.17  ctrl
7            8    4.53  ctrl
8            9    5.33  ctrl
9           10    5.14  ctrl
10          11    4.81  trt1
11          12    4.17  trt1
12          13    4.41  trt1
13          14    3.59  trt1
14          15    5.87  trt1
15          16    3.83  trt1
16          17    6.03  trt1
17          18    4.89  trt1
18          19    4.32  trt1
19          20    4.69  trt1
20          21    6.31  trt2
21          22    5.12  trt2
22          23    5.54  trt2
23          24    5.50  trt2
24          25    5.37  trt2
25          26    5.29  trt2
26          27    4.92  trt2
27          28    6.15  trt2
28          29    5.80  trt2
29          30    5.26  trt2

In [ ]:
# your code here

## Exercise 3

Using the titanic.csv again, answer the following questions:

- Were the passengers who survived older or younger than those who did not?
- Were men older than women on average?

In [ ]:
# your code here

### PT 1: Were the passengers who survived older or younger than those who did not?

In [ ]:
# your code here