<center><a target="_blank" href="https://academy.constructor.org/"><img src=https://lh3.googleusercontent.com/d/1EmH3Jks5CpJy0zK3JbkvJZkeqWtVcxhB width="800" style="background:none; border:none; box-shadow:none;" /></a> </center>
<hr />

# <h1 align="center"> Day-1-Descriptive-Statistics. Exercise session 3: Scaling and Normalization </h1> </center>

<p style="margin-bottom:1cm;"></p>

_____

<center>Constructor Academy, 2025</center>



## Scaling and Normalization

For this exercise on scaling and normalization, we have a look at the column “history” from the marketing dataset. This column contains the global revenue generated by each customer (each row corresponds to one customer).

1. Read the data from the Marketing csv file and extract the history column from it

In [1]:
# Loading libraries
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
# Marketing3.csv
data_file = 'https://drive.google.com/uc?export=download&id=1-6CGpOFdmZ8vOz3OrCXZC170q1zJDJtQ'
df = pd.read_csv('/Users/szewing/Desktop/Course/CDBootcamp/debbie_to/02_Statistics/day1/Marketing3.csv')
df

,Unnamed: 0,recency,history,used_discount,used_bogo,zip_code,is_referral,channel,offer,conversion
0,0,10,142.44,1,0,Surburban,0,Phone,Buy One Get One,0
1,1,5,349.41,1,1,Surburban,1,Phone,Buy One Get One,0
2,2,7,64.04,0,1,Rural,0,Web,Buy One Get One,1
3,3,2,244.82,0,1,Rural,1,Web,Buy One Get One,1
4,4,11,302.15,1,0,Urban,0,Web,Buy One Get One,0
...,...,...,...,...,...,...,...,...,...,...
63995,63995,9,135.36,1,0,Urban,1,Phone,No Offer,0
63996,63996,3,74.42,0,1,Rural,1,Web,No Offer,0
63997,63997,10,279.57,1,0,Rural,1,Web,No Offer,1
63998,63998,10,44.46,1,0,Rural,0,Web,No Offer,0
63999,63999,7,39.01,0,1,Surburban,0,Web,No Offer,0

In [4]:
# your code here
df['history']

0        142.44
1        349.41
2         64.04
3        244.82
4        302.15
          ...
63995    135.36
63996     74.42
63997    279.57
63998     44.46
63999     39.01
Name: history, Length: 64000, dtype: float64

2. Write a function for MinMaxScaling, Standardization, and log scaling

In [ ]:
def LogScaling(x):
    return np.log(x)


def MinMaxScaling(x):
    return(x-np.min(x))/(np.max(x)-np.min(x))


def Standardize(x):
    return (x - np.mean(x)) / np.std(x)

3. Apply written functions to the marketing history

In [ ]:
# your code here

4. Make a density plot of all random sample, scaled, standardized and log transformed data and compare the effect

In [ ]:
# your code here

**5. Bonus - Make a violin plot of sample, scaled and standardized data**

In [ ]:
# your code here

**What do you observe applying scaling and standardization?**